.footer {
    background-color: #2C4B8E; // Adjust the color to match your design
    color: white;
    padding: 20px 0;
  
    .footer-column {
      margin-bottom: 20px;
  
      h5 {
        margin-bottom: 15px;
      }
  
      a {
        color: white;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      p {
        margin: 0;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
          font-weight: 200;
        }
      }
    }
  }
  