.counter{
    width : 100px;
    height: auto;
    border: 1px solid rgb(201, 201, 201);
    padding: 7px;
    margin-left: 4px;
}
.counterBtn{
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(189, 186, 186);
}
.back-arrow{
    padding-left: 9%;
    margin-bottom: 20px;
}